<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui segment">
      <div class="ui minimal comments">
        <h3 class="ui dividing header">
          加入该课程的有

          <form class="ui reply form" method="post" action="/posts/<%= post._id %>/attend">
            <div class="field">
            </div>
            <input type="submit" class="ui icon button" value="加入课程" />
          </form>

        </h3>

        <% attenders.forEach(function (attender) { %>
        <div class="four wide column">
          <a class="avatar"
             target="_blank"
             href="/posts?author=<%= post.author._id %>"
             data-title="<%= post.author.name %> | <%= ({teacher: '教师', student: '学生'})[post.author.identity] %>"
             data-content="<%= post.author.bio %>">
            <img class="avatar" src="/img/<%= post.author.avatar %>">
          </a>
        </div>
        <% }) %>

      </div>
    </div>
  </div>
</div>