<div class="three wide column">
  <a class="avatar"
     target="_blank"
     href="/user/<%= user._id %>"
     data-title="<%= user.name %> | <%= ({teacher: '教师', student: '学生'})[user.identity] %>"
     data-content="<%= user.bio %>">
    <img class="avatar" src="/upload/<%= user.avatar %>">
  </a>
</div>