<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui segment">
      <div class="ui minimal comments">
        <h3 class="ui dividing header">留言</h3>

        <% if (!comments[0]) { %>
        <p>暂无</p>
        <% } else { %>
        <% comments.forEach(function (comment) { %>
          <div class="comment">
            <span class="avatar">
              <img src="/upload/<%= comment.author.avatar %>">
            </span>
            <div class="content">
              <a class="author" href="/user/<%= comment.author._id %>" target="_blank"><%= comment.author.name %></a>
              <div class="metadata">
                <span class="date"><%= comment.created_at %></span>
                <span class="date">回复(<%= comment.reply %>)</span>
              </div>
              <div class="text"><%- comment.content %></div>

              <div class="actions">
                <% if (user && comment.author._id && user._id.toString() === comment.author._id.toString()) { %>
                <a class="reply" href="/course/<%= course._id %>/comment/<%= comment._id %>/remove">删除</a>
                <% } %>
                <% if (user) { %>
                <a class="reply" href="javascript:void(0)" id="reply">回复</a>
                <% } %>
              </div>
            </div>
          </div>

        <% if (comment.isFirst === '0') { %>
        <div class="comment">
            <span class="avatar"></span>
          <div class="content" style="background: #ddd;">
            <span class="author"><%= comment.toAuthorName %>：</span>
            <div class="text"><% if(!comment.toComment.content) { %>已被作者删除<% } else { %><%- comment.toComment.content %><% } %></div>
          </div>
        </div>
        <% } %>
        <div class="ui dividing header"></div>

        <div class="ui small modal reply">
          <h3 class="ui dividing header">回复留言</h3>
          <form class="ui reply form" method="post" action="/course/<%= course._id %>/comment/<%= comment._id %>/reply">
            <div class="field">
              <textarea name="content"></textarea>
            </div>
            <div class="actions right">
              <div class="ui button" id="cancel">取消</div>
              <input type="submit" class="ui button" value="回复" />
            </div>
            <div class="clear"></div>
          </form>
        </div>
        <% }) %>
        <% } %>

        <% if (user) { %>
          <form class="ui reply form" method="post" action="/course/<%= course._id %>/comment">
            <div class="field">
              <textarea name="content"></textarea>
            </div>
            <input type="submit" class="ui icon button" value="留言" />
          </form>
        <% } %>
      </div>
    </div>
  </div>
</div>
