<div class="course-content">
  <div class="ui grid">
    <%- include('avatar', { user: course.author }) %>

    <div class="twelve wide column">
      <div class="ui segment minHeight">
        <h3><a href="/course/<%= course._id %>" target="_blank"><%= course.type %> | <%= course.title %></a></h3>
        <pre class="summary"><%- course.content %></pre>
        <div>
          <span class="tag"><%= course.created_at %></span>
          <span class="tag right">
            <span>浏览(<%= course.pv %>)</span>
            <span>留言(<%= course.cmt %>)</span>
            <span>参与人数(<%= course.atd %>)</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>