<div class="post-content">
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui segment minheight">
        <h3 class="ui dividing header">
          本节课件
        </h3>

        <% if(!cozwares[0]) { %>
        <p>暂无</p>
        <br>
        <% } else { %>
        <% cozwares.forEach(function (cw) { %>
        <div class="content">
          <a href="/posts/file/<%= cw.path %>" download="<%= cw.name %>"><%= cw.name %></a>

          <% if (user && cw.author && user._id.toString() === cw.author.toString()) { %>
          <div class="right">
            <a class="reply" href="/posts/<%= post._id %>/lesson/<%= lesson._id %>/cozware/<%= cw._id %>/remove">删除</a>
          </div>
          <% } %>

        </div>
        <% }) %>
        <% } %>

      </div>
    </div>

    <% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
    <div class="four wide column">
      <form class="ui form segment" method="post" enctype="multipart/form-data" action="/posts/<%= post._id %>/lesson/<%= lesson._id %>/cozware">
        <div class="field required">
          <label>课件上传</label>
          <input type="file" name="cozware">
        </div>
        <input type="submit" class="ui button fluid" value="上传">
      </form>
    </div>
    <% } %>

  </div>
</div>