<div class="post-content">
  <div class="ui grid">
    <%- include('avatar', { user: post.author }) %>

    <div class="eight wide column">
      <div class="ui segment">

        <h3>
          <a href="/posts/<%= post._id %>/lesson/<%= lesson._id%>" target="_blank">
            第<%= lesson.order %>课时：<%= lesson.title %>
          </a>
        </h3>

        <pre><%- lesson.content %></pre>

        <% if (user && lesson.author._id && user._id.toString() === lesson.author._id.toString()) { %>
        <div class="ui inline dropdown right">
          <div class="text"></div>
          <i class="setting icon"></i>
          <div class="menu">
            <div class="item"><a href="/posts/<%= post._id %>/lesson/<%= lesson._id %>/edit">编辑</a></div>
            <div class="item"><a href="/posts/<%= post._id %>/lesson/<%= lesson._id %>/remove">删除</a></div>
          </div>
        </div>
        <% } %>

        <br>
      </div>
    </div>
  </div>
</div>