<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui segment">
      <div class="ui minimal comments">
        <h3 class="ui dividing header">
          课程列表
        </h3>

        <% if (!lessons[0]) { %>
        <p>暂无</p>
        <% } else { %>
        <% lessons.forEach(function (lesson) { %>
        <a href="/course/<%= course._id %>/lesson/<%= lesson._id %>">
          第<%= lesson.order %>课时：<%= lesson.title %>
        </a>
        <br>
        <% }) %>
        <% } %>

        <% if (user && course.author._id && user._id.toString() === course.author._id.toString()) { %>
          <br>
          <a href="/course/<%= course._id %>/lesson" type="submit" class="ui icon button">添加课程内容</a>
        <% } %>

      </div>
    </div>
  </div>
</div>