<div class="post-content">
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui segment">
        <h3 class="ui dividing header">
          本节课件
        </h3>

        <% cozwares.forEach(function (cw) { %>
          <a href="/posts/file/<%= cw.path %>" download="<%= cw.name %>"><%= cw.name %></a>
          <br>
        <% }) %>

        <% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
        <div class="actions">
          <form class="ui form segment" method="post" enctype="multipart/form-data" action="/posts/<%= post._id %>/lesson/<%= lesson._id %>/cozware">
            <div class="field required">
              <label>课件上传</label>
              <input type="file" name="cozware">
            </div>
            <input type="submit" class="ui button fluid" value="上传">
          </form>
        </div>
        <% } %>

      </div>
    </div>
  </div>
</div>