<div class="course-content">
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui segment minHeight">
        <h3 class="ui dividing header">
          本节课件
        </h3>

        <% if (!cozwares[0]) { %>
        <p>暂无</p>
        <br>
        <% } else { %>
        <% cozwares.forEach(function (cw) { %>
        <div class="content">
          <a href="/course/file/<%= cw.path %>" download="<%= cw.name %>"><%= cw.name %></a>
          &nbsp;

          <% if (user && cw.author && user._id.toString() === cw.author.toString()) { %>
          <a class="reply" href="/course/<%= course._id %>/lesson/<%= lesson._id %>/cozware/<%= cw._id %>/remove">删除</a>
          <% } %>
        </div>
        <% }) %>
        <% } %>
        <br>

        <% if (user && course.author._id && user._id.toString() === course.author._id.toString()) { %>
        <a class="ui button" href="javascript:void(0);" id="uploadczw">上传课件</a>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div class="ui small modal uploadczw">
  <i class="close icon"></i>
  <div class="header">
    上传课件
  </div>
  <form class="ui form segment clear" method="post" enctype="multipart/form-data" action="/course/<%= course._id %>/lesson/<%= lesson._id %>/cozware">
    <div class="field required center">
      <input type="file" name="cozware">
    </div>
    <div class="actions right">
      <div class="ui button" id="cancel">取消</div>
      <input type="submit" class="ui button" value="确定">
    </div>
    <div class="clear"></div>
  </form>
</div>