<div class="post-content">
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui segment">
        <h3 class="ui dividing header">
          提交作业
        </h3>

        <% lessonhwks.forEach(function (hwk) { %>
        <div class="content">
          <a href="/posts/file/<%= hwk.path %>" download="<%= hwk.name %>"><%= hwk.name %></a>

          <% if (user && hwk.author && user._id.toString() === hwk.author.toString()) { %>
          <div class="actions">
            <a class="reply" href="/posts/<%= post._id %>/lesson/<%= lesson._id %>/lessonhwk/<%= hwk._id %>/remove">删除</a>
          </div>
          <% } %>

        </div>
        <% }) %>

      </div>
    </div>

    <% if (user && user.identity === 'student') { %>
    <div class="four wide column">
      <form class="ui form segment" method="post" enctype="multipart/form-data" action="/posts/<%= post._id %>/lesson/<%= lesson._id %>/lessonhwk">
        <div class="field required">
          <label>作业上传</label>
          <input type="file" name="lessonhwk">
        </div>
        <input type="submit" class="ui button fluid" value="上传">
      </form>
    </div>
    <% } %>

  </div>
</div>