<div class="course-content">
  <div class="ui grid">
    <%- include('avatar', { user: course.author }) %>

    <div class="eight wide column">
      <div class="ui segment">
        <h3><a href="/course/<%= course.courseId._id %>" target="_blank"><%= course.courseId.type %> | <%= course.courseId.title %></a></h3>
        <pre><%- course.courseId.content %></pre>
        <div>
          <span class="tag"><%= course.courseId.created_at %></span>
          <span class="tag right">
            <span>浏览(<%= course.courseId.pv %>)</span>
            <span>留言(<%= course.courseId.cmt %>)</span>
            <span>参与人数(<%= course.courseId.atd %>)</span>
          </span>
        </div>
      </div>
    </div>

  </div>
</div>