<div class="post-content">
  <div class="ui grid">
    <%- include('avatar', { user: post.author }) %>

    <div class="eight wide column">
      <div class="ui segment">
        <h3><a href="/posts/<%= post._id %>" target="_blank"><%= post.type %> | <%= post.title %></a></h3>
        <pre><%- post.content %></pre>
        <div>
          <span class="tag"><%= post.created_at %></span>
          <span class="tag right">
            <span>浏览(<%= post.pv %>)</span>
            <span>留言(<%= post.commentsCount %>)</span>
            <span>参与人数(<%= post.attendersCount %>)</span>

          </span>
        </div>
      </div>
    </div>
  </div>
</div>