<div class="ui cards">
  <div class="card">
    <div class="content">
      <a href="javascript:void(0);" class="avatar-big" title="修改头像">
        <img class="avatar-big" src="/upload/<%= author.avatar %>">
      </a>
      <div class="userCard right">
        <div class="info">
          <p><%= author.name %></p>
          <p class="meta"><%= author.school %></p>
          <p class="meta"><%= author.email %></p>
        </div>
      </div>
      <div class="description">
        <%= author.bio %>
      </div>
    </div>
    <% if (isUser) { %>
    <div class="extra content">
      <a href="/user/<%= author._id %>" class=""><i class="home icon"></i>个人主页</a>
      <a href="/user/<%= author._id %>/edit" class="right floated"><i class="setting icon"></i>设置</a>
      <a href="/user/<%= author._id %>/modifypwd" class="right floated"><i class="setting icon"></i>修改密码</a>
    </div>
    <% } else { %>
    <div class="extra content">
      <a class=""><i class="send icon"></i>私信</a>
      <a class="right floated"><i class="plus icon"></i>加好友</a>
    </div>
    <% } %>
  </div>
</div>