<div class="ui cards">
  <div class="card">
    <div class="content">
      <a href="javascript:void(0);" class="avatar-big clear" id="modifyavt" <% if (isUser) { %> title="修改头像" <% } %> >
        <img class="avatar-big" src="/upload/<%= author.avatar %>">
      </a>
      <div class="userCard right">
        <div class="info">
          <p><a href="/user/<%= author._id %>"><%= author.name %></a></p>
          <p class="meta"><%= author.school %></p>
          <p class="meta"><%= author.email %></p>
        </div>
      </div>
      <div class="description">
        <%= author.bio %>
      </div>
    </div>
    <% if (isUser) { %>
    <div class="extra content">
      <a href="/user/<%= author._id %>" class=""><i class="home icon"></i>个人主页</a>
      <a href="/user/<%= author._id %>/edit" class="right floated"><i class="setting icon"></i>设置</a>
      <a href="/user/<%= author._id %>/modifypwd" class="right floated"><i class="setting icon"></i>修改密码</a>
    </div>
    <% } else { %>
    <div class="extra content">
      <a class=""><i class="send icon"></i>私信</a>
      <a class="right floated"><i class="plus icon"></i>加好友</a>
    </div>
    <% } %>
  </div>
</div>

<% if (user) { %>
<div class="ui small modal modifyavt">
  <i class="close icon"></i>
  <div class="header">
    修改头像
  </div>
  <form class="ui form segment clear" method="post" enctype="multipart/form-data" action="/user/<%= user._id %>/avatar">
    <div class="field required center">
      <input type="file" name="avatar">
    </div>
    <div class="actions right">
      <div class="ui button" id="cancel">取消</div>
      <input type="submit" class="ui button" value="确定">
    </div>
    <div class="clear"></div>
  </form>
</div>
<% } %>