<div class="ui cards">
  <div class="card">
    <div class="content">
      <a class="avatar-big clear" href="javascript:void(0);" id="modifyavt" <% if (isUser) { %> title="修改头像" <% } %> >
        <img class="avatar-big" src="/upload/<%= author.avatar %>">
      </a>
      <div class="userCard right">
        <div class="info">
          <p><a href="/user/<%= author._id %>"><%= author.name %></a></p>
          <p class="meta"><%= author.school %></p>
          <p class="meta"><%= author.email %></p>
        </div>
      </div>
      <div class="description">
        <%= author.bio %>
      </div>
    </div>
    <% if (isUser) { %>
    <div class="extra content user-menu">
      <a href="/user/<%= author._id %>"><i class="home icon"></i>个人主页</a>
      <a href="/user/<%= author._id %>/edit" class="right floated"><i class="setting icon"></i>设置</a>
      <a href="/user/<%= author._id %>/modifypwd" class="right floated"><i class="setting icon"></i>修改密码</a>
    </div>
    <% } else { %>
    <div class="extra content user-menu">
      <a class="" id="letter"><i class="send icon"></i>私信</a>
      <% if(isFollow) { %>
      <a href="/user/follow/<%= author._id %>/remove" class="right floated"><i class="plus icon"></i>取消关注</a>
      <% } else { %>
      <a href="/user/follow/<%= author._id %>" class="right floated"><i class="plus icon"></i>加关注</a>
      <% } %>
    </div>
    <% } %>
  </div>
</div>

<% if (user) { %>
<div class="ui small modal modifyavt">
  <i class="close icon"></i>
  <div class="header">
    修改头像
  </div>
  <form class="ui form segment clear" method="post" enctype="multipart/form-data" action="/user/<%= user._id %>/avatar">
    <div class="field required center">
      <input type="file" name="avatar">
    </div>
    <div class="actions right">
      <div class="ui button" id="cancel">取消</div>
      <input type="submit" class="ui button" value="确定">
    </div>
    <div class="clear"></div>
  </form>
</div>

<div class="ui small modal letter">
  <h3 class="ui dividing header">发送私信</h3>
  <form class="ui reply form" method="post" action="/user/letterto/<%= author._id %>">
    <div class="field">
      <textarea name="content"></textarea>
    </div>
    <div class="actions right">
      <div class="ui button" id="cancel">取消</div>
      <input type="submit" class="ui button" value="发送" />
    </div>
    <div class="clear"></div>
  </form>
</div>
<% } %>