<%- include('header') %>

<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form class="ui form segment" method="post" enctype="multipart/form-data" action="/user/<%= user._id %>/edit">
      <div class="field required">
        <label>学号</label><span class="error"></span>
        <input placeholder="学号" type="text" name="username" value="<%= user.username %>" disabled>
      </div>
      <div class="field required">
        <label>姓名</label><span class="error"></span>
        <input placeholder="姓名" type="text" name="name" value="<%= user.name %>">
      </div>
      <div class="field required">
        <label>学院</label><span class="error"></span>
        <input placeholder="学院" type="text" name="school" value="<%= user.school %>">
      </div>
      <div class="field required">
        <label>身份</label>
        <select class="ui compact selection dropdown" name="identity" disabled>
          <option value="student"<% if (user.identity == 'student'){ %> selected <% } %> >学生</option>
          <option value="teacher"<% if (user.identity == 'teacher'){ %> selected <% } %> >教师</option>
        </select>
      </div>
      <div class="field required">
        <label>邮箱</label><span class="error"></span>
        <input placeholder="邮箱" type="email" name="email" value="<%= user.email %>">
      </div>
      <div class="field required">
        <label>个人简介</label>
        <textarea name="bio" rows="5" v-model="user.bio"><%= user.bio %></textarea>
      </div>
      <input type="submit" class="ui button fluid" value="修改">
    </div>
  </form>
</div>

<%- include('footer') %>