<%- include('header') %>

<div class="ui grid">
  <%- include('components/avatar', { user: user }) %>

  <div class="eight wide column">
    <form class="ui form segment" method="post" action="/course/<%= course._id %>/edit">
      <div class="field required">
        <label>课程类型</label>
        <select name="type" required>
          <option value="文学" <% if (course.type == '文学'){ %> selected <% } %> >文学</option>
          <option value="历史学" <% if (course.type == '历史学'){ %> selected <% } %> >历史学</option>
          <option value="法学" <% if (course.type == '法学'){ %> selected <% } %> >法学</option>
          <option value="经济学" <% if (course.type == '经济学'){ %> selected <% } %> >经济学</option>
          <option value="管理学" <% if (course.type == '管理学'){ %> selected <% } %> >管理学</option>
          <option value="教育学" <% if (course.type == '教育学'){ %> selected <% } %> >教育学</option>
          <option value="理学" <% if (course.type == '理学'){ %> selected <% } %> >理学</option>
          <option value="艺术学" <% if (course.type == '艺术学'){ %> selected <% } %> >艺术学</option>
          <option value="工学" <% if (course.type == '工学'){ %> selected <% } %> >工学</option>
        </select>
      </div>
      <div class="field required">
        <label>课程名称</label>
        <input type="text" name="title" value="<%= course.title %>">
      </div>
      <div class="field required">
        <label>课程简介</label>
        <textarea name="content" rows="15"><%= course.content %></textarea>
      </div>
      <input type="submit" class="ui button" value="发布">
    </div>
  </form>
</div>

<%- include('footer') %>