<%- include('header') %>

<div class="ui grid">
  <div class="two wide column"></div>
  <div class="eight wide column">
    <%- include('components/usercard', { isFollow: false }) %>
  </div>
</div>

<div class="ui grid">
  <div class="two wide column"></div>

  <% if (author.identity === 'teacher') { %>
  <div class="twelve wide column ui dynamic">
    <div class="ui secondary pointing menu">
      <a class="item active" data-tab="courses_pub">发布的课程</a>
      <a class="item" data-tab="follow">TA的关注</a>
      <% if (isUser === true) { %>
      <a class="item" data-tab="courses_rev">待审核课程</a>
      <a class="item" data-tab="messages">待处理消息</a>
      <a class="item" data-tab="letters_send">发出的私信</a>
      <a class="item" data-tab="letters_recv">收到的私信</a>
      <% } %>
    </div>
    <div class="ui active tab segment" data-tab="courses_pub">
      <% pubcourses.forEach(function (course) { %>
      <%- include('components/course-summary', { course: course }) %>
      <% }) %>
    </div>
    <div class="ui tab segment" data-tab="follow">
      <% follows.forEach(function (follow) { %>
      <%- include('components/usercard', { author: follow.following, isUser: false, isFollow: true }) %>
      <% }) %>
    </div>
    <div class="ui tab segment" data-tab="courses_rev">
      <% rejcourses.forEach(function (course) { %>
      <%- include('components/course-summary', { course: course }) %>
      <% }) %>
    </div>
    <div class="ui tab segment" data-tab="messages">
      <% messages.forEach(function (lessonhwk) { %>
      <a class="author" href="/user/<%= lessonhwk.hwkauthor._id %>" target="_blank"><%= lessonhwk.hwkauthor.name %></a>
      <span class="metadata" style="color: #888;">在&nbsp;</span>
      <a class="author" href="/course/<%= lessonhwk.lessonId.courseId %>/lesson/<%= lessonhwk.lessonId._id %>" target="_blank">第<%= lessonhwk.lessonId.order %>课时：<%= lessonhwk.lessonId.title %></a>
      <span class="metadata" style="color: #888;">中提交了作业</span>
      <span class="metadata" style="color: rgba(0,0,0,.6);font-size: .875em;"><%= lessonhwk.created_at %></span>
      <br><br>
      <% }) %>
    </div>
    <div class="ui tab segment" data-tab="letters_send">
      <% letters_send.forEach(function (letter) { %>
      <%- include('components/letter-send', { letter: letter }) %>
      <% }) %>
    </div>
    <div class="ui tab segment" data-tab="letters_recv">
      <% letters_recv.forEach(function (letter) { %>
      <%- include('components/letter-recv', { letter: letter }) %>
      <% }) %>
    </div>
  </div>

  <% } else if (author.identity === 'student') { %>
  <div class="twelve wide column ui dynamic">
    <div class="ui secondary pointing menu">
      <a class="item active" data-tab="courses_atd">加入的课程</a>
      <a class="item" data-tab="follow">TA的关注</a>
      <% if (isUser === true) { %>
      <a class="item" data-tab="messages">待处理消息</a>
      <a class="item" data-tab="letters_send">发出的私信</a>
      <a class="item" data-tab="letters_recv">收到的私信</a>
      <% } %>
    </div>
    <div class="ui active tab segment" data-tab="courses_atd">
      <% atdcourses.forEach(function (course) { %>
      <%- include('components/course-summary', { course: course }) %>
      <% }) %>
    </div>
    <div class="ui tab segment" data-tab="follow">
      <% follows.forEach(function (follow) { %>
      <%- include('components/usercard', { author: follow.following, isUser: false, isFollow: true }) %>
      <% }) %>
    </div>
    <div class="ui tab segment" data-tab="messages">
      <% messages.forEach(function (hwkreply) { %>
      <a class="author" href="/user/<%= hwkreply.lsnauthor._id %>" target="_blank"><%= hwkreply.lsnauthor.name %></a>
      <span class="metadata" style="color: #888;">在&nbsp;</span>
      <a class="author" href="/course/<%= hwkreply.lessonId.courseId %>/lesson/<%= hwkreply.lessonId._id %>" target="_blank">第<%= hwkreply.lessonId.order %>课时：<%= hwkreply.lessonId.title %></a>
      <span class="metadata" style="color: #888;">中批复了你的作业</span>
      <span class="metadata" style="color: rgba(0,0,0,.6);font-size: .875em;"><%= hwkreply.created_at %></span>
      <br><br>
      <% }) %>
    </div>
    <div class="ui tab segment" data-tab="letters_send">
      <% letters_send.forEach(function (letter) { %>
      <%- include('components/letter-send', { letter: letter }) %>
      <% }) %>
    </div>
    <div class="ui tab segment" data-tab="letters_recv">
      <% letters_recv.forEach(function (letter) { %>
      <%- include('components/letter-recv', { letter: letter }) %>
      <% }) %>
    </div>
  </div>

  <% } else if (author.identity === 'admin') { %>
  <div class="twelve wide column ui dynamic">
    <div class="ui secondary pointing menu">
      <% if (isUser === true) { %>
      <a class="item active" data-tab="courses_rev">全部待审核课程</a>
      <% } %>
    </div>
    <div class="ui active tab segment" data-tab="courses_rev">
      <% rejcourses.forEach(function (course) { %>
      <%- include('components/course-summary', { course: course }) %>
      <% }) %>
    </div>
  </div>
  <% } %>
</div>

<%- include('footer') %>