<%- include('header') %>

<div class="ui grid">
  <div class="two wide column"></div>
  <div class="eight wide column">
    <%- include('components/usercard') %>
  </div>
</div>

<div class="ui grid">
  <div class="two wide column"></div>

  <% if (author.identity === 'teacher') { %>
  <div class="twelve wide column ui dynamic">
    <div class="ui secondary pointing menu">
      <a class="item active" data-tab="courses_pub">发布的课程</a>
      <a class="item" data-tab="follow">TA的关注</a>
      <% if (isUser === true) { %>
      <a class="item" data-tab="courses_rev">待审核课程</a>
      <a class="item" data-tab="messages">待处理消息</a>
      <a class="item" data-tab="letters_send">发出的私信</a>
      <a class="item" data-tab="letters_recv">收到的私信</a>
      <% } %>
    </div>
    <div class="ui active tab segment" data-tab="courses_pub">
      <% pubcourses.forEach(function (course) { %>
      <%- include('components/course-summary', { course: course }) %>
      <% }) %>
    </div>
    <div class="ui tab segment" data-tab="follow">
      <% follows.forEach(function (follow) { %>
      <%- include('components/usercard', { author: follow.following, isUser: false, isFollow: true }) %>
      <% }) %>
    </div>
    <div class="ui tab segment" data-tab="courses_rev">
      <% rejcourses.forEach(function (course) { %>
      <%- include('components/course-summary', { course: course }) %>
      <% }) %>
    </div>
    <div class="ui tab segment" data-tab="messages">3</div>
    <div class="ui tab segment" data-tab="letters_send">3</div>
    <div class="ui tab segment" data-tab="letters_recv">3</div>
  </div>

  <% } else if (author.identity === 'student') { %>
  <div class="twelve wide column ui dynamic">
    <div class="ui secondary pointing menu">
      <a class="item active" data-tab="courses_atd">加入的课程</a>
      <a class="item" data-tab="follow">TA的关注</a>
      <% if (isUser === true) { %>
      <a class="item" data-tab="messages">待处理消息</a>
      <a class="item" data-tab="letters_send">发出的私信</a>
      <a class="item" data-tab="letters_recv">收到的私信</a>
      <% } %>
    </div>
    <div class="ui active tab segment" data-tab="courses_atd">
      <% atdcourses.forEach(function (course) { %>
      <%- include('components/course-summary', { course: course }) %>
      <% }) %>
    </div>
    <div class="ui tab segment" data-tab="follow">
      <% follows.forEach(function (follow) { %>
      <%- include('components/usercard', { author: follow.following, isUser: false, isFollow: true }) %>
      <% }) %>
    </div>
    <div class="ui tab segment" data-tab="messages">3</div>
    <div class="ui tab segment" data-tab="letters_send">3</div>
    <div class="ui tab segment" data-tab="letters_recv">3</div>
  </div>

  <% } else if (author.identity === 'admin') { %>
  <div class="twelve wide column ui dynamic">
    <div class="ui secondary pointing menu">
      <% if (isUser === true) { %>
      <a class="item active" data-tab="courses_rev">全部待审核课程</a>
      <% } %>
    </div>
    <div class="ui active tab segment" data-tab="courses_rev">
      <% rejcourses.forEach(function (course) { %>
      <%- include('components/course-summary', { course: course }) %>
      <% }) %>
    </div>
  </div>
  <% } %>
</div>

<%- include('footer') %>