<%- include('header') %>

<% if (identity === 'teacher') { %>
<h1 class="ui segment"><%= name %>发布的课程</h1>

<% } else { %>
<h1 class="ui segment"><%= name %>参与的课程</h1>
<% } %>

<% posts.forEach(function (post) { %>
<%- include('components/post-content', { post: post }) %>
<% }) %>

<%- include('footer') %>