<%- include('header') %>

<% if (author.identity === 'teacher') { %>
<div class="ui grid">
  <div class="three wide column"></div>
  <div class="nine wide column">
    <div class="ui segment">

      <% if (isUser === true) { %>
      <h1>我发布的课程</h1>
      <% } else { %>
      <h1><%= author.name %>发布的课程</h1>
      <% } %>

    </div>
  </div>
</div>

<% courses.forEach(function (course) { %>
<%- include('components/profile-tch', { course: course }) %>
<% }) %>

<% if (isUser === true) { %>
<div class="ui grid">
  <div class="three wide column"></div>
  <div class="nine wide column">
    <div class="ui segment">
      <h1>未通过审核的课程</h1>
    </div>
  </div>
</div>

<% rejcourses.forEach(function (course) { %>
<%- include('components/profile-tch', { course: course }) %>
<% }) %>
<% } %>

<% } else if(author.identity === 'student') { %>
<div class="ui grid">
  <div class="three wide column"></div>
  <div class="nine wide column">
    <div class="ui segment">

      <% if (isUser === true) { %>
      <h1>我加入的课程</h1>
      <% } else { %>
      <h1><%= author.name %>加入的课程</h1>
      <% } %>

    </div>
  </div>
</div>

<% courses.forEach(function (course) { %>
<%- include('components/profile-stu', { course: course }) %>
<% }) %>
<% } %>

<%- include('footer') %>