<%- include('header') %>

<% if (author.identity === 'teacher') { %>
<div class="ui grid">
  <div class="three wide column"></div>
  <div class="nine wide column">
    <div class="ui segment">
      <h1><%= author.name %>发布的课程</h1>
    </div>
  </div>
</div>

<% posts.forEach(function (post) { %>
<%- include('components/profile-tch', { post: post }) %>
<% }) %>

<% } else { %>
<div class="ui grid">
  <div class="three wide column"></div>
  <div class="nine wide column">
    <div class="ui segment">
      <h1><%= author.name %>参与的课程</h1>
    </div>
  </div>
</div>

<% posts.forEach(function (post) { %>
<%- include('components/profile-stu', { post: post }) %>
<% }) %>
<% } %>

<%- include('footer') %>